.slidev-code-copy {
	display: none;
}

/* Below this is shared or partially the same as other applications */

#slideshow {
	--base-size-4: 0.25rem;
	--base-size-6: 0.375rem;
	--base-size-8: 0.5rem;
	--base-size-16: 1rem;
	--base-size-24: 1.5rem;
	--base-size-40: 2.5rem;
	--base-text-weight-normal: 400;
	--base-text-weight-medium: 500;
	--base-text-weight-semibold: 600;
	--fontStack-monospace: ui-monospace, SFMono-Regular, SF Mono, Menlo, Consolas, Liberation Mono,
		monospace;
}

html.dark {
	/* dark */
	color-scheme: dark;
	--focus-outlineColor: #1f6feb;
	--fgColor-default: #f0f6fc;
	--fgColor-muted: #9198a1;
	--fgColor-accent: #4493f8;
	--fgColor-success: #3fb950;
	--fgColor-attention: #d29922;
	--fgColor-danger: #f85149;
	--fgColor-done: #ab7df8;
	--bgColor-default: #0d1117;
	--bgColor-muted: #151b23;
	--bgColor-neutral-muted: #656c7633;
	--bgColor-attention-muted: #bb800926;
	--borderColor-default: #3d444d;
	--borderColor-muted: #3d444db3;
	--borderColor-neutral-muted: #3d444db3;
	--borderColor-accent-emphasis: #1f6feb;
	--borderColor-success-emphasis: #238636;
	--borderColor-attention-emphasis: #9e6a03;
	--borderColor-danger-emphasis: #da3633;
	--borderColor-done-emphasis: #8957e5;
	--color-prettylights-syntax-comment: #9198a1;
	--color-prettylights-syntax-constant: #79c0ff;
	--color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
	--color-prettylights-syntax-entity: #d2a8ff;
	--color-prettylights-syntax-storage-modifier-import: #f0f6fc;
	--color-prettylights-syntax-entity-tag: #7ee787;
	--color-prettylights-syntax-keyword: #ff7b72;
	--color-prettylights-syntax-string: #a5d6ff;
	--color-prettylights-syntax-variable: #ffa657;
	--color-prettylights-syntax-brackethighlighter-unmatched: #f85149;
	--color-prettylights-syntax-brackethighlighter-angle: #9198a1;
	--color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
	--color-prettylights-syntax-invalid-illegal-bg: #8e1519;
	--color-prettylights-syntax-carriage-return-text: #f0f6fc;
	--color-prettylights-syntax-carriage-return-bg: #b62324;
	--color-prettylights-syntax-string-regexp: #7ee787;
	--color-prettylights-syntax-markup-list: #f2cc60;
	--color-prettylights-syntax-markup-heading: #1f6feb;
	--color-prettylights-syntax-markup-italic: #f0f6fc;
	--color-prettylights-syntax-markup-bold: #f0f6fc;
	--color-prettylights-syntax-markup-deleted-text: #ffdcd7;
	--color-prettylights-syntax-markup-deleted-bg: #67060c;
	--color-prettylights-syntax-markup-inserted-text: #aff5b4;
	--color-prettylights-syntax-markup-inserted-bg: #033a16;
	--color-prettylights-syntax-markup-changed-text: #ffdfb6;
	--color-prettylights-syntax-markup-changed-bg: #5a1e02;
	--color-prettylights-syntax-markup-ignored-text: #f0f6fc;
	--color-prettylights-syntax-markup-ignored-bg: #1158c7;
	--color-prettylights-syntax-meta-diff-range: #d2a8ff;
	--color-prettylights-syntax-sublimelinter-gutter-mark: #3d444d;
}

html:not(.dark) {
	/* light */
	color-scheme: light;
	--focus-outlineColor: #0969da;
	--fgColor-default: #1f2328;
	--fgColor-muted: #59636e;
	--fgColor-accent: #0969da;
	--fgColor-success: #1a7f37;
	--fgColor-attention: #9a6700;
	--fgColor-danger: #d1242f;
	--fgColor-done: #8250df;
	--bgColor-default: #ffffff;
	--bgColor-muted: #f6f8fa;
	--bgColor-neutral-muted: #818b981f;
	--bgColor-attention-muted: #fff8c5;
	--borderColor-default: #d1d9e0;
	--borderColor-muted: #d1d9e0b3;
	--borderColor-neutral-muted: #d1d9e0b3;
	--borderColor-accent-emphasis: #0969da;
	--borderColor-success-emphasis: #1a7f37;
	--borderColor-attention-emphasis: #9a6700;
	--borderColor-danger-emphasis: #cf222e;
	--borderColor-done-emphasis: #8250df;
	--color-prettylights-syntax-comment: #59636e;
	--color-prettylights-syntax-constant: #0550ae;
	--color-prettylights-syntax-constant-other-reference-link: #0a3069;
	--color-prettylights-syntax-entity: #6639ba;
	--color-prettylights-syntax-storage-modifier-import: #1f2328;
	--color-prettylights-syntax-entity-tag: #0550ae;
	--color-prettylights-syntax-keyword: #cf222e;
	--color-prettylights-syntax-string: #0a3069;
	--color-prettylights-syntax-variable: #953800;
	--color-prettylights-syntax-brackethighlighter-unmatched: #82071e;
	--color-prettylights-syntax-brackethighlighter-angle: #59636e;
	--color-prettylights-syntax-invalid-illegal-text: #f6f8fa;
	--color-prettylights-syntax-invalid-illegal-bg: #82071e;
	--color-prettylights-syntax-carriage-return-text: #f6f8fa;
	--color-prettylights-syntax-carriage-return-bg: #cf222e;
	--color-prettylights-syntax-string-regexp: #116329;
	--color-prettylights-syntax-markup-list: #3b2300;
	--color-prettylights-syntax-markup-heading: #0550ae;
	--color-prettylights-syntax-markup-italic: #1f2328;
	--color-prettylights-syntax-markup-bold: #1f2328;
	--color-prettylights-syntax-markup-deleted-text: #82071e;
	--color-prettylights-syntax-markup-deleted-bg: #ffebe9;
	--color-prettylights-syntax-markup-inserted-text: #116329;
	--color-prettylights-syntax-markup-inserted-bg: #dafbe1;
	--color-prettylights-syntax-markup-changed-text: #953800;
	--color-prettylights-syntax-markup-changed-bg: #ffd8b5;
	--color-prettylights-syntax-markup-ignored-text: #d1d9e0;
	--color-prettylights-syntax-markup-ignored-bg: #0550ae;
	--color-prettylights-syntax-meta-diff-range: #8250df;
	--color-prettylights-syntax-sublimelinter-gutter-mark: #818b98;
}

#slideshow {
	-ms-text-size-adjust: 100%;
	-webkit-text-size-adjust: 100%;
	margin: 0;
	color: var(--fgColor-default);
	background-color: var(--bgColor-default);
	font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Noto Sans', Helvetica, Arial,
		sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji';
	font-size: 16px;
	line-height: 1.5;
	word-wrap: break-word;
	scroll-behavior: auto !important;

	/* Appended code */
	padding: 0px var(--base-size-16);
}

.slidev-layout {
	margin: var(--base-size-24);
}

#slideshow .octicon {
	display: inline-block;
	fill: currentColor;
	vertical-align: text-bottom;
}

#slideshow h1:hover .anchor .octicon-link:before,
#slideshow h2:hover .anchor .octicon-link:before,
#slideshow h3:hover .anchor .octicon-link:before,
#slideshow h4:hover .anchor .octicon-link:before,
#slideshow h5:hover .anchor .octicon-link:before,
#slideshow h6:hover .anchor .octicon-link:before {
	width: 16px;
	height: 16px;
	content: ' ';
	display: inline-block;
	background-color: currentColor;
	-webkit-mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
	mask-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 16 16' version='1.1' aria-hidden='true'><path fill-rule='evenodd' d='M7.775 3.275a.75.75 0 001.06 1.06l1.25-1.25a2 2 0 112.83 2.83l-2.5 2.5a2 2 0 01-2.83 0 .75.75 0 00-1.06 1.06 3.5 3.5 0 004.95 0l2.5-2.5a3.5 3.5 0 00-4.95-4.95l-1.25 1.25zm-4.69 9.64a2 2 0 010-2.83l2.5-2.5a2 2 0 012.83 0 .75.75 0 001.06-1.06 3.5 3.5 0 00-4.95 0l-2.5 2.5a3.5 3.5 0 004.95 4.95l1.25-1.25a.75.75 0 00-1.06-1.06l-1.25 1.25a2 2 0 01-2.83 0z'></path></svg>");
}

#slideshow details,
#slideshow figcaption,
#slideshow figure {
	display: block;
}

#slideshow summary {
	display: list-item;
}

#slideshow [hidden] {
	display: none !important;
}

#slideshow a {
	background-color: transparent;
	color: var(--fgColor-accent);
	text-decoration: none;
}

#slideshow abbr[title] {
	border-bottom: none;
	-webkit-text-decoration: underline dotted;
	text-decoration: underline dotted;
}

#slideshow b,
#slideshow strong {
	font-weight: var(--base-text-weight-semibold, 600);
}

#slideshow dfn {
	font-style: italic;
}

#slideshow h1 {
	margin: 0.67em 0;
	font-weight: var(--base-text-weight-semibold, 600);
	padding-bottom: 0.3em;
	font-size: 2em;
	border-bottom: 1px solid var(--borderColor-muted);
}

#slideshow mark {
	background-color: var(--bgColor-attention-muted);
	color: var(--fgColor-default);
}

#slideshow small {
	font-size: 90%;
}

#slideshow sub,
#slideshow sup {
	font-size: 75%;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
}

#slideshow sub {
	bottom: -0.25em;
}

#slideshow sup {
	top: -0.5em;
}

#slideshow img {
	border-style: none;
	max-width: 100%;
	box-sizing: content-box;
}

#slideshow code,
#slideshow kbd,
#slideshow pre,
#slideshow samp {
	font-family: monospace;
	font-size: 1em;
}

#slideshow figure {
	margin: 1em var(--base-size-40);
}

#slideshow hr {
	box-sizing: content-box;
	overflow: hidden;
	background: transparent;
	border-bottom: 1px solid var(--borderColor-muted);
	height: 0.25em;
	padding: 0;
	margin: var(--base-size-24) 0;
	background-color: var(--borderColor-default);
	border: 0;
}

#slideshow input {
	font: inherit;
	margin: 0;
	overflow: visible;
	font-family: inherit;
	font-size: inherit;
	line-height: inherit;
}

#slideshow [type='button'],
#slideshow [type='reset'],
#slideshow [type='submit'] {
	-webkit-appearance: button;
	appearance: button;
}

#slideshow [type='checkbox'],
#slideshow [type='radio'] {
	box-sizing: border-box;
	padding: 0;
}

#slideshow [type='number']::-webkit-inner-spin-button,
#slideshow [type='number']::-webkit-outer-spin-button {
	height: auto;
}

#slideshow [type='search']::-webkit-search-cancel-button,
#slideshow [type='search']::-webkit-search-decoration {
	-webkit-appearance: none;
	appearance: none;
}

#slideshow ::-webkit-input-placeholder {
	color: inherit;
	opacity: 0.54;
}

#slideshow ::-webkit-file-upload-button {
	-webkit-appearance: button;
	appearance: button;
	font: inherit;
}

#slideshow a:hover {
	text-decoration: underline;
}

#slideshow ::placeholder {
	color: var(--fgColor-muted);
	opacity: 1;
}

#slideshow hr::before {
	display: table;
	content: '';
}

#slideshow hr::after {
	display: table;
	clear: both;
	content: '';
}

#slideshow table {
	border-spacing: 0;
	border-collapse: collapse;
	display: block;
	width: max-content;
	max-width: 100%;
	overflow: auto;
}

#slideshow td,
#slideshow th {
	padding: 0;
}

#slideshow details summary {
	cursor: pointer;
}

#slideshow a:focus,
#slideshow [role='button']:focus,
#slideshow input[type='radio']:focus,
#slideshow input[type='checkbox']:focus {
	outline: 2px solid var(--focus-outlineColor);
	outline-offset: -2px;
	box-shadow: none;
}

#slideshow a:focus:not(:focus-visible),
#slideshow [role='button']:focus:not(:focus-visible),
#slideshow input[type='radio']:focus:not(:focus-visible),
#slideshow input[type='checkbox']:focus:not(:focus-visible) {
	outline: solid 1px transparent;
}

#slideshow a:focus-visible,
#slideshow [role='button']:focus-visible,
#slideshow input[type='radio']:focus-visible,
#slideshow input[type='checkbox']:focus-visible {
	outline: 2px solid var(--focus-outlineColor);
	outline-offset: -2px;
	box-shadow: none;
}

#slideshow a:not([class]):focus,
#slideshow a:not([class]):focus-visible,
#slideshow input[type='radio']:focus,
#slideshow input[type='radio']:focus-visible,
#slideshow input[type='checkbox']:focus,
#slideshow input[type='checkbox']:focus-visible {
	outline-offset: 0;
}

#slideshow kbd {
	display: inline-block;
	padding: var(--base-size-4);
	font: 11px
		var(
			--fontStack-monospace,
			ui-monospace,
			SFMono-Regular,
			SF Mono,
			Menlo,
			Consolas,
			Liberation Mono,
			monospace
		);
	line-height: 10px;
	color: var(--fgColor-default);
	vertical-align: middle;
	background-color: var(--bgColor-muted);
	border: solid 1px var(--borderColor-neutral-muted);
	border-bottom-color: var(--borderColor-neutral-muted);
	border-radius: 6px;
	box-shadow: inset 0 -1px 0 var(--borderColor-neutral-muted);
}

#slideshow h1,
#slideshow h2,
#slideshow h3,
#slideshow h4,
#slideshow h5,
#slideshow h6 {
	margin-top: var(--base-size-24);
	margin-bottom: var(--base-size-16);
	font-weight: var(--base-text-weight-semibold, 600);
	line-height: 1.25;
}

#slideshow h2 {
	font-weight: var(--base-text-weight-semibold, 600);
	padding-bottom: 0.3em;
	font-size: 1.5em;
	border-bottom: 1px solid var(--borderColor-muted);
}

#slideshow h3 {
	font-weight: var(--base-text-weight-semibold, 600);
	font-size: 1.25em;
}

#slideshow h4 {
	font-weight: var(--base-text-weight-semibold, 600);
	font-size: 1em;
}

#slideshow h5 {
	font-weight: var(--base-text-weight-semibold, 600);
	font-size: 0.875em;
}

#slideshow h6 {
	font-weight: var(--base-text-weight-semibold, 600);
	font-size: 0.85em;
	color: var(--fgColor-muted);
}

#slideshow p {
	margin-top: 0;
	margin-bottom: 10px;
}

#slideshow blockquote {
	margin: 0;
	padding: 0 1em;
	color: var(--fgColor-muted);
	border-left: 0.25em solid var(--borderColor-default);
}

#slideshow ul,
#slideshow ol {
	margin-top: 0;
	margin-bottom: 0;
	padding-left: 2em;
	list-style: disc;
}

#slideshow ol ol,
#slideshow ul ol {
	list-style-type: lower-roman;
}

#slideshow ul ul ol,
#slideshow ul ol ol,
#slideshow ol ul ol,
#slideshow ol ol ol {
	list-style-type: lower-alpha;
}

#slideshow dd {
	margin-left: 0;
}

#slideshow tt,
#slideshow code,
#slideshow samp {
	font-family: var(
		--fontStack-monospace,
		ui-monospace,
		SFMono-Regular,
		SF Mono,
		Menlo,
		Consolas,
		Liberation Mono,
		monospace
	);
	font-size: 12px;
}

#slideshow pre {
	margin-top: 0;
	margin-bottom: 0;
	font-family: var(
		--fontStack-monospace,
		ui-monospace,
		SFMono-Regular,
		SF Mono,
		Menlo,
		Consolas,
		Liberation Mono,
		monospace
	);
	font-size: 12px;
	word-wrap: normal;
}

#slideshow .octicon {
	display: inline-block;
	overflow: visible !important;
	vertical-align: text-bottom;
	fill: currentColor;
}

#slideshow input::-webkit-outer-spin-button,
#slideshow input::-webkit-inner-spin-button {
	margin: 0;
	-webkit-appearance: none;
	appearance: none;
}

#slideshow .mr-2 {
	margin-right: var(--base-size-8, 8px) !important;
}

#slideshow::before {
	display: table;
	content: '';
}

#slideshow::after {
	display: table;
	clear: both;
	content: '';
}

#slideshow > *:first-child {
	margin-top: 0 !important;
}

#slideshow > *:last-child {
	margin-bottom: 0 !important;
}

#slideshow a:not([href]) {
	color: inherit;
	text-decoration: none;
}

#slideshow .absent {
	color: var(--fgColor-danger);
}

#slideshow .anchor {
	float: left;
	padding-right: var(--base-size-4);
	margin-left: -20px;
	line-height: 1;
}

#slideshow .anchor:focus {
	outline: none;
}

#slideshow p,
#slideshow blockquote,
#slideshow ul,
#slideshow ol,
#slideshow dl,
#slideshow table,
#slideshow pre,
#slideshow details {
	margin-top: 0;
	margin-bottom: var(--base-size-16);
}

#slideshow blockquote > :first-child {
	margin-top: 0;
}

#slideshow blockquote > :last-child {
	margin-bottom: 0;
}

#slideshow h1 .octicon-link,
#slideshow h2 .octicon-link,
#slideshow h3 .octicon-link,
#slideshow h4 .octicon-link,
#slideshow h5 .octicon-link,
#slideshow h6 .octicon-link {
	color: var(--fgColor-default);
	vertical-align: middle;
	visibility: hidden;
}

#slideshow h1:hover .anchor,
#slideshow h2:hover .anchor,
#slideshow h3:hover .anchor,
#slideshow h4:hover .anchor,
#slideshow h5:hover .anchor,
#slideshow h6:hover .anchor {
	text-decoration: none;
}

#slideshow h1:hover .anchor .octicon-link,
#slideshow h2:hover .anchor .octicon-link,
#slideshow h3:hover .anchor .octicon-link,
#slideshow h4:hover .anchor .octicon-link,
#slideshow h5:hover .anchor .octicon-link,
#slideshow h6:hover .anchor .octicon-link {
	visibility: visible;
}

#slideshow h1 tt,
#slideshow h1 code,
#slideshow h2 tt,
#slideshow h2 code,
#slideshow h3 tt,
#slideshow h3 code,
#slideshow h4 tt,
#slideshow h4 code,
#slideshow h5 tt,
#slideshow h5 code,
#slideshow h6 tt,
#slideshow h6 code {
	padding: 0 0.2em;
	font-size: inherit;
}

#slideshow summary h1,
#slideshow summary h2,
#slideshow summary h3,
#slideshow summary h4,
#slideshow summary h5,
#slideshow summary h6 {
	display: inline-block;
}

#slideshow summary h1 .anchor,
#slideshow summary h2 .anchor,
#slideshow summary h3 .anchor,
#slideshow summary h4 .anchor,
#slideshow summary h5 .anchor,
#slideshow summary h6 .anchor {
	margin-left: -40px;
}

#slideshow summary h1,
#slideshow summary h2 {
	padding-bottom: 0;
	border-bottom: 0;
}

#slideshow ul.no-list,
#slideshow ol.no-list {
	padding: 0;
	list-style-type: none;
}

#slideshow ol[type='a s'] {
	list-style-type: lower-alpha;
}

#slideshow ol[type='A s'] {
	list-style-type: upper-alpha;
}

#slideshow ol[type='i s'] {
	list-style-type: lower-roman;
}

#slideshow ol[type='I s'] {
	list-style-type: upper-roman;
}

#slideshow ol[type='1'] {
	list-style-type: decimal;
}

#slideshow div > ol:not([type]) {
	list-style-type: decimal;
}

#slideshow ul ul,
#slideshow ul ol,
#slideshow ol ol,
#slideshow ol ul {
	margin-top: 0;
	margin-bottom: 0;
}

#slideshow li > p {
	margin-top: var(--base-size-16);
}

#slideshow li + li {
	margin-top: 0.25em;
}

#slideshow dl {
	padding: 0;
}

#slideshow dl dt {
	padding: 0;
	margin-top: var(--base-size-16);
	font-size: 1em;
	font-style: italic;
	font-weight: var(--base-text-weight-semibold, 600);
}

#slideshow dl dd {
	padding: 0 var(--base-size-16);
	margin-bottom: var(--base-size-16);
}

#slideshow table th {
	font-weight: var(--base-text-weight-semibold, 600);
}

#slideshow table th,
#slideshow table td {
	padding: 6px 13px;
	border: 1px solid var(--borderColor-default);
}

#slideshow table td > :last-child {
	margin-bottom: 0;
}

#slideshow table tr {
	background-color: var(--bgColor-default);
	border-top: 1px solid var(--borderColor-muted);
}

#slideshow table tr:nth-child(2n) {
	background-color: var(--bgColor-muted);
}

#slideshow table img {
	background-color: transparent;
}

#slideshow img[align='right'] {
	padding-left: 20px;
}

#slideshow img[align='left'] {
	padding-right: 20px;
}

#slideshow .emoji {
	max-width: none;
	vertical-align: text-top;
	background-color: transparent;
}

#slideshow span.frame {
	display: block;
	overflow: hidden;
}

#slideshow span.frame > span {
	display: block;
	float: left;
	width: auto;
	padding: 7px;
	margin: 13px 0 0;
	overflow: hidden;
	border: 1px solid var(--borderColor-default);
}

#slideshow span.frame span img {
	display: block;
	float: left;
}

#slideshow span.frame span span {
	display: block;
	padding: 5px 0 0;
	clear: both;
	color: var(--fgColor-default);
}

#slideshow span.align-center {
	display: block;
	overflow: hidden;
	clear: both;
}

#slideshow span.align-center > span {
	display: block;
	margin: 13px auto 0;
	overflow: hidden;
	text-align: center;
}

#slideshow span.align-center span img {
	margin: 0 auto;
	text-align: center;
}

#slideshow span.align-right {
	display: block;
	overflow: hidden;
	clear: both;
}

#slideshow span.align-right > span {
	display: block;
	margin: 13px 0 0;
	overflow: hidden;
	text-align: right;
}

#slideshow span.align-right span img {
	margin: 0;
	text-align: right;
}

#slideshow span.float-left {
	display: block;
	float: left;
	margin-right: 13px;
	overflow: hidden;
}

#slideshow span.float-left span {
	margin: 13px 0 0;
}

#slideshow span.float-right {
	display: block;
	float: right;
	margin-left: 13px;
	overflow: hidden;
}

#slideshow span.float-right > span {
	display: block;
	margin: 13px auto 0;
	overflow: hidden;
	text-align: right;
}

#slideshow code,
#slideshow tt {
	padding: 0.2em 0.4em;
	margin: 0;
	font-size: 85%;
	white-space: break-spaces;
	background-color: var(--bgColor-neutral-muted);
	border-radius: 6px;
}

#slideshow code br,
#slideshow tt br {
	display: none;
}

#slideshow del code {
	text-decoration: inherit;
}

#slideshow samp {
	font-size: 85%;
}

#slideshow pre code {
	font-size: 100%;
}

#slideshow pre > code {
	padding: 0;
	margin: 0;
	word-break: normal;
	white-space: pre;
	background: transparent;
	border: 0;
}

#slideshow .highlight {
	margin-bottom: var(--base-size-16);
}

#slideshow .highlight pre {
	margin-bottom: 0;
	word-break: normal;
}

#slideshow .highlight pre,
#slideshow pre {
	padding: var(--base-size-16) !important;
	overflow: auto;
	font-size: 85% !important;
	line-height: 1.45 !important;
	color: var(--fgColor-default);
	background-color: var(--bgColor-muted);
	border-radius: 6px !important;
}

#slideshow pre code,
#slideshow pre tt {
	display: inline;
	max-width: auto;
	padding: 0;
	margin: 0;
	overflow: visible;
	line-height: inherit;
	word-wrap: normal;
	background-color: transparent;
	border: 0;
}

#slideshow .csv-data td,
#slideshow .csv-data th {
	padding: 5px;
	overflow: hidden;
	font-size: 12px;
	line-height: 1;
	text-align: left;
	white-space: nowrap;
}

#slideshow .csv-data .blob-num {
	padding: 10px var(--base-size-8) 9px;
	text-align: right;
	background: var(--bgColor-default);
	border: 0;
}

#slideshow .csv-data tr {
	border-top: 0;
}

#slideshow .csv-data th {
	font-weight: var(--base-text-weight-semibold, 600);
	background: var(--bgColor-muted);
	border-top: 0;
}

#slideshow [data-footnote-ref]::before {
	content: '[';
}

#slideshow [data-footnote-ref]::after {
	content: ']';
}

#slideshow .footnotes {
	font-size: 12px;
	color: var(--fgColor-muted);
	border-top: 1px solid var(--borderColor-default);
}

#slideshow .footnotes ol {
	padding-left: var(--base-size-16);
}

#slideshow .footnotes ol ul {
	display: inline-block;
	padding-left: var(--base-size-16);
	margin-top: var(--base-size-16);
}

#slideshow .footnotes li {
	position: relative;
}

#slideshow .footnotes li:target::before {
	position: absolute;
	top: calc(var(--base-size-8) * -1);
	right: calc(var(--base-size-8) * -1);
	bottom: calc(var(--base-size-8) * -1);
	left: calc(var(--base-size-24) * -1);
	pointer-events: none;
	content: '';
	border: 2px solid var(--borderColor-accent-emphasis);
	border-radius: 6px;
}

#slideshow .footnotes li:target {
	color: var(--fgColor-default);
}

#slideshow .footnotes .data-footnote-backref g-emoji {
	font-family: monospace;
}

#slideshow .pl-c {
	color: var(--color-prettylights-syntax-comment);
}

#slideshow .pl-c1,
#slideshow .pl-s .pl-v {
	color: var(--color-prettylights-syntax-constant);
}

#slideshow .pl-e,
#slideshow .pl-en {
	color: var(--color-prettylights-syntax-entity);
}

#slideshow .pl-smi,
#slideshow .pl-s .pl-s1 {
	color: var(--color-prettylights-syntax-storage-modifier-import);
}

#slideshow .pl-ent {
	color: var(--color-prettylights-syntax-entity-tag);
}

#slideshow .pl-k {
	color: var(--color-prettylights-syntax-keyword);
}

#slideshow .pl-s,
#slideshow .pl-pds,
#slideshow .pl-s .pl-pse .pl-s1,
#slideshow .pl-sr,
#slideshow .pl-sr .pl-cce,
#slideshow .pl-sr .pl-sre,
#slideshow .pl-sr .pl-sra {
	color: var(--color-prettylights-syntax-string);
}

#slideshow .pl-v,
#slideshow .pl-smw {
	color: var(--color-prettylights-syntax-variable);
}

#slideshow .pl-bu {
	color: var(--color-prettylights-syntax-brackethighlighter-unmatched);
}

#slideshow .pl-ii {
	color: var(--color-prettylights-syntax-invalid-illegal-text);
	background-color: var(--color-prettylights-syntax-invalid-illegal-bg);
}

#slideshow .pl-c2 {
	color: var(--color-prettylights-syntax-carriage-return-text);
	background-color: var(--color-prettylights-syntax-carriage-return-bg);
}

#slideshow .pl-sr .pl-cce {
	font-weight: bold;
	color: var(--color-prettylights-syntax-string-regexp);
}

#slideshow .pl-ml {
	color: var(--color-prettylights-syntax-markup-list);
}

#slideshow .pl-mh,
#slideshow .pl-mh .pl-en,
#slideshow .pl-ms {
	font-weight: bold;
	color: var(--color-prettylights-syntax-markup-heading);
}

#slideshow .pl-mi {
	font-style: italic;
	color: var(--color-prettylights-syntax-markup-italic);
}

#slideshow .pl-mb {
	font-weight: bold;
	color: var(--color-prettylights-syntax-markup-bold);
}

#slideshow .pl-md {
	color: var(--color-prettylights-syntax-markup-deleted-text);
	background-color: var(--color-prettylights-syntax-markup-deleted-bg);
}

#slideshow .pl-mi1 {
	color: var(--color-prettylights-syntax-markup-inserted-text);
	background-color: var(--color-prettylights-syntax-markup-inserted-bg);
}

#slideshow .pl-mc {
	color: var(--color-prettylights-syntax-markup-changed-text);
	background-color: var(--color-prettylights-syntax-markup-changed-bg);
}

#slideshow .pl-mi2 {
	color: var(--color-prettylights-syntax-markup-ignored-text);
	background-color: var(--color-prettylights-syntax-markup-ignored-bg);
}

#slideshow .pl-mdr {
	font-weight: bold;
	color: var(--color-prettylights-syntax-meta-diff-range);
}

#slideshow .pl-ba {
	color: var(--color-prettylights-syntax-brackethighlighter-angle);
}

#slideshow .pl-sg {
	color: var(--color-prettylights-syntax-sublimelinter-gutter-mark);
}

#slideshow .pl-corl {
	text-decoration: underline;
	color: var(--color-prettylights-syntax-constant-other-reference-link);
}

#slideshow [role='button']:focus:not(:focus-visible),
#slideshow [role='tabpanel'][tabindex='0']:focus:not(:focus-visible),
#slideshow button:focus:not(:focus-visible),
#slideshow summary:focus:not(:focus-visible),
#slideshow a:focus:not(:focus-visible) {
	outline: none;
	box-shadow: none;
}

#slideshow [tabindex='0']:focus:not(:focus-visible),
#slideshow details-dialog:focus:not(:focus-visible) {
	outline: none;
}

#slideshow g-emoji {
	display: inline-block;
	min-width: 1ch;
	font-family: 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol';
	font-size: 1em;
	font-style: normal !important;
	font-weight: var(--base-text-weight-normal, 400);
	line-height: 1;
	vertical-align: -0.075em;
}

#slideshow g-emoji img {
	width: 1em;
	height: 1em;
}

#slideshow .task-list-item {
	list-style-type: none;
}

#slideshow .task-list-item label {
	font-weight: var(--base-text-weight-normal, 400);
}

#slideshow .task-list-item.enabled label {
	cursor: pointer;
}

#slideshow .task-list-item + .task-list-item {
	margin-top: var(--base-size-4);
}

#slideshow .task-list-item .handle {
	display: none;
}

#slideshow .task-list-item-checkbox {
	margin: 0 0.2em 0.25em -1.4em;
	vertical-align: middle;
}

#slideshow ul:dir(rtl) .task-list-item-checkbox {
	margin: 0 -1.6em 0.25em 0.2em;
}

#slideshow ol:dir(rtl) .task-list-item-checkbox {
	margin: 0 -1.6em 0.25em 0.2em;
}

#slideshow .contains-task-list:hover .task-list-item-convert-container,
#slideshow .contains-task-list:focus-within .task-list-item-convert-container {
	display: block;
	width: auto;
	height: 24px;
	overflow: visible;
	clip: auto;
}

#slideshow ::-webkit-calendar-picker-indicator {
	filter: invert(50%);
}

#slideshow .markdown-alert {
	padding: var(--base-size-8) var(--base-size-16);
	margin-bottom: var(--base-size-16);
	color: inherit;
	border-left: 0.25em solid var(--borderColor-default);
}

#slideshow .markdown-alert > :first-child {
	margin-top: 0;
}

#slideshow .markdown-alert > :last-child {
	margin-bottom: 0;
}

#slideshow .markdown-alert .markdown-alert-title {
	display: flex;
	font-weight: var(--base-text-weight-medium, 500);
	align-items: center;
	line-height: 1;
}

#slideshow .markdown-alert.markdown-alert-note {
	border-left-color: var(--borderColor-accent-emphasis);
}

#slideshow .markdown-alert.markdown-alert-note .markdown-alert-title {
	color: var(--fgColor-accent);
}

#slideshow .markdown-alert.markdown-alert-important {
	border-left-color: var(--borderColor-done-emphasis);
}

#slideshow .markdown-alert.markdown-alert-important .markdown-alert-title {
	color: var(--fgColor-done);
}

#slideshow .markdown-alert.markdown-alert-warning {
	border-left-color: var(--borderColor-attention-emphasis);
}

#slideshow .markdown-alert.markdown-alert-warning .markdown-alert-title {
	color: var(--fgColor-attention);
}

#slideshow .markdown-alert.markdown-alert-tip {
	border-left-color: var(--borderColor-success-emphasis);
}

#slideshow .markdown-alert.markdown-alert-tip .markdown-alert-title {
	color: var(--fgColor-success);
}

#slideshow .markdown-alert.markdown-alert-caution {
	border-left-color: var(--borderColor-danger-emphasis);
}

#slideshow .markdown-alert.markdown-alert-caution .markdown-alert-title {
	color: var(--fgColor-danger);
}

#slideshow > *:first-child > .heading-element:first-child {
	margin-top: 0 !important;
}
